---
{
"registered" : true,
"title": "otherProfile",
"template": "_profileLayout",
"username": "Schmitti",
"firstName": "Hans",
"lastName": "Schmidt",
"plz": "22767",
"city": "Hamburg",
"firstButton": "Profil melden",
"secondButton": "Profil Ignorieren",
"thirdButton": "Chatnachricht senden",
"myProfile": false
}
---
<article class="profileInfo">
    <ul class="listWithoutDots">
        <li>
            <h4>Dein Account</h4>
        </li>
        <li class="infoRow">
            <span>Nutzername</span>
            <span>{{ page.username }}</span>
        </li>
        <li class="infoRow">
            <span>Vorname</span>
            <span>{{ page.firstName }}</span>
        </li>
        <li class="infoRow">
            <span>Nachname</span>
            <span>{{ page.lastName }}</span>
        </li>
        <li class="infoRow">
            <span>PLZ / Stadt</span>
            <span>{{ page.plz }} {{ page.city }}</span>
        </li>
    </ul>
</article>