---
{
"registered" : true,

"title": "mainPage",
"template": "_layout",
"innerlinks": [
{"title": "Kundenmeinung", "url": "#opinions"},
{"title": "Sprungmarke2", "url": "#opinions"},
{"title": "Sprungmarke3", "url": "#opinions"}
]
}
---
<div class="contentBlock">
    <input class="bigSearchBar" type="text" placeholder="Suche">
    <div id="main">
        <div class="functions">
            <div class="functionElement">
                <p class="center">Gruppen</p>
                <div class="imgBox">
                    <a href="/social/groups">
                        <img src={{ global.imgListElement }} alt="">
                    </a>
                </div>
            </div>
            <div class="functionElement">
                <p class="center">Lernen</p>
                <div class="imgBox">
                    <a href="/learn">
                        <img src={{ global.imgListElement }} alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="functions align-start">
            <div class="functionElement bigFunctionElement">
                <p class="center">Mein Wörterbuch</p>
                <div class="imgBox">
                    <a href="/test">
                        <img src={{ global.imgListElement }} alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="createBox">
            <div class="createHeader">
                <hr>
                <p>Erstellen</p>
                <hr>
            </div>
            <div class="functions">
                <div class="functionElement">
                    <p class="center">Gebärden</p>
                    <div class="imgBox">
                        <a href="/createCard">
                            <img src={{ global.imgListElement }} alt="">
                        </a>
                    </div>
                </div>
                <div class="functionElement">
                    <p class="center">Gruppe</p>
                    <div class="imgBox">
                        <a href="/createCard">
                            <img src={{ global.imgListElement }} alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>