---
{
"title": "mainPage",
"template": "_layout",
}
---
<div class="contentBlock">
    <input class="bigSearchBar" type="text" placeholder="Suche">
    <div id="main">
        <div class="functions">
            <div class="functionElement">
                <p class="center">Gruppen</p>
                <div class="imgBox">
                    <img src={{ global.imgListElement }} alt="">
                </div>
            </div>
            <div class="functionElement">
                <p class="center">Kontakte</p>
                <div class="imgBox">
                    <img src={{ global.imgListElement }} alt="">
                </div>
            </div>
            <div class="functionElement">
                <p class="center">Lernen</p>
                <div class="imgBox">
                    <img src={{ global.imgListElement }} alt="">
                </div>
            </div>
        </div>
        <div class="functions align-start">
            <div class="functionElement bigFunctionElement">
                <p class="center">Mein Wörterbuch</p>
                <div class="imgBox">
                    <img src={{ global.imgListElement }} alt="">
                </div>
            </div>
        </div>
        <div class="createBox">
            <div class="createHeader">
                <hr>
                <p>Erstellen</p>
                <hr>
            </div>
            <div class="functions">
                <div class="functionElement">
                    <p class="center">Gebärden</p>
                    <div class="imgBox">
                        <img src={{ global.imgListElement }} alt="">
                    </div>
                </div>
                <div class="functionElement">
                    <p class="center">Gruppe</p>
                    <div class="imgBox">
                        <img src={{ global.imgListElement }} alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>