---
{
"title": "groupchat",
"template": "_layout",
}
---

<div id="groupView" class="contentBlock">
  <div class="groupHeader">
    <div class="imgBox">
      <img class="groupImg" src={{ global.heroImgMain }} alt="sendButton">
    </div>
    <div class="chat-name-back">
      <h3>Gruppenname</h3>
      <div class="dropdown">
        <img class="participans" src={{ global.participants }} alt="Teilnehmer">
        <div class="dropdown-content">
          <a href="/profile/otherProfile" class="contact">
            <div class="imgBox">
              <img src={{ global.heroImgMain }} alt="sendButton">
            </div>
            <p>Name</p>
          </a>
          <a href="/profile/otherProfile" class="contact">
            <div class="imgBox">
              <img src={{ global.heroImgMain }} alt="sendButton">
            </div>
            <p>Name</p>
          </a>
          <a href="/profile/otherProfile" class="contact">
            <div class="imgBox">
              <img src={{ global.heroImgMain }} alt="sendButton">
            </div>
            <p>Name</p>
          </a>
          <a href="/profile/otherProfile" class="contact">
            <div class="imgBox">
              <img src={{ global.heroImgMain }} alt="sendButton">
            </div>
            <p>Name</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <main>
    <div class="groupFunctions">
      <div class="groupFunctionElement">
        <p class="center">Wörterbuch</p>
        <div class="imgBox">
          <a href="/test">
            <img src={{ global.imgListElement }} alt="">
          </a>
        </div>
      </div>
      <div class="groupFunctionElement">
        <p class="center">Lernen</p>
        <div class="imgBox">
          <a href="/learn">
            <img src={{ global.imgListElement }} alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="chatEntry">
        <div class="sender">
          <div class="imgBox">
            <img src={{ global.heroImgMain }} alt="sendButton">
          </div>
          <h5 class="center">Neymar</h5>
        </div>
        <p class="chatText ml-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo illum dignissimos
          ullam
          doloribus aut.
          Tenetur ullam obcaecati error eum? Magni doloribus distinctio quae fugiat eaque omnis nesciunt quibusdam
          porro.</p>
        <div class="empty"></div>
      </div>
      <div class="chatEntry">
        <div class="sender">
          <div class="imgBox">
            <img src={{ global.heroImgMain }} alt="sendButton">
          </div>
          <h5 class="center">Hans</h5>
        </div>
        <p class="chatText ml-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo illum dignissimos
          ullam
          doloribus aut.
          Tenetur ullam obcaecati error eum? Magni doloribus distinctio quae fugiat eaque omnis nesciunt quibusdam
          porro.</p>
        <div class="empty"></div>
      </div>
      <div class="chatEntry">
        <div class="sender">
          <div class="imgBox">
            <img src={{ global.heroImgMain }} alt="sendButton">
          </div>
          <h5 class="center">Linus</h5>
        </div>
        <p class="chatText ml-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo illum dignissimos
          ullam
          doloribus aut.
          Tenetur ullam obcaecati error eum? Magni doloribus distinctio quae fugiat eaque omnis nesciunt quibusdam
          porro.</p>
        <div class="empty"></div>
      </div>
      <div class="chatEntry">
        <div class="sender">
          <div class="imgBox">
            <img src={{ global.heroImgMain }} alt="sendButton">
          </div>
          <h5 class="center">Jasper</h5>
        </div>
        <p class="chatText ml-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo illum dignissimos
          ullam
          doloribus aut.
          Tenetur ullam obcaecati error eum? Magni doloribus distinctio quae fugiat eaque omnis nesciunt quibusdam
          porro.</p>
        <div class="empty"></div>
      </div>
      <div class="chatEntry">
        <div class="empty"></div>
        <p class="chatText mr-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo illum dignissimos
          ullam
          doloribus aut.
          Tenetur ullam obcaecati error eum? Magni doloribus distinctio quae fugiat eaque omnis nesciunt quibusdam
          porro.</p>
        <div class="sender">
          <div class="imgBox">
            <img src={{ global.heroImgMain }} alt="sendButton">
          </div>
        </div>
      </div>
    </div>
    <div class="interact">
      <input class="writeChat" type="text" name="username" placeholder="Gib eine Nachricht ein">
      <div class="imgBox">
        <img src={{ global.sendButton }} alt="sendButton">
      </div>
    </div>
  </main>
</div>