---
{
"title": "groupchat",
"template": "_layout",
}
---
<div id="groupchat" class="contentBlock">
  <div class="chatHeader">
    <div class="imgBox">
      <img src={{ global.heroImgMain }} alt="sendButton">
    </div>
    <div class="chat-name-back">
      <h3>Gruppenname</h3>
      <a class="center btnLink" href="/main">zurück</a>
    </div>
  </div>
  <div class="chat">
    <div class="chatEntry">
      <div class="sender">
        <div class="imgBox">
          <img src={{ global.heroImgMain }} alt="sendButton">
        </div>
        <h5 class="center">Neymar</h5>
      </div>
      <p class="chatText ml-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo illum dignissimos ullam
        doloribus aut.
        Tenetur ullam obcaecati error eum? Magni doloribus distinctio quae fugiat eaque omnis nesciunt quibusdam
        porro.</p>
<div class="empty"></div>
    </div>
    <div class="chatEntry">
      <div class="sender">
        <div class="imgBox">
          <img src={{ global.heroImgMain }} alt="sendButton">
        </div>
        <h5 class="center">Hans</h5>
      </div>
      <p class="chatText ml-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo illum dignissimos ullam
        doloribus aut.
        Tenetur ullam obcaecati error eum? Magni doloribus distinctio quae fugiat eaque omnis nesciunt quibusdam
        porro.</p>
      <div class="empty"></div>
    </div>
    <div class="chatEntry">
      <div class="sender">
        <div class="imgBox">
          <img src={{ global.heroImgMain }} alt="sendButton">
        </div>
        <h5 class="center">Linus</h5>
      </div>
      <p class="chatText ml-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo illum dignissimos ullam
        doloribus aut.
        Tenetur ullam obcaecati error eum? Magni doloribus distinctio quae fugiat eaque omnis nesciunt quibusdam
        porro.</p>
<div class="empty"></div>
    </div>
    <div class="chatEntry">
      <div class="sender">
        <div class="imgBox">
          <img src={{ global.heroImgMain }} alt="sendButton">
        </div>
        <h5 class="center">Jasper</h5>
      </div>
      <p class="chatText ml-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo illum dignissimos ullam
        doloribus aut.
        Tenetur ullam obcaecati error eum? Magni doloribus distinctio quae fugiat eaque omnis nesciunt quibusdam
        porro.</p>
<div class="empty"></div>
    </div>
    <div class="chatEntry">
      <div class="empty"></div>
      <p class="chatText mr-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo illum dignissimos ullam
        doloribus aut.
        Tenetur ullam obcaecati error eum? Magni doloribus distinctio quae fugiat eaque omnis nesciunt quibusdam
        porro.</p>
      <div class="sender">
        <div class="imgBox">
          <img src={{ global.heroImgMain }} alt="sendButton">
        </div>
      </div>
    </div>
  </div>
  <div class="interact">
    <input class="writeChat" type="text" name="username" placeholder="Gib eine Nachricht ein">
    <div class="imgBox">
      <img src={{ global.sendButton }} alt="sendButton">
    </div>
  </div>
</div>